nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

a {
    margin: 20px; 
    color: black;
    font-size: 1.5em;
}

a:hover {
    color: gray;
    text-decoration: none;
}